@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overscroll-behavior-y: none;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    @apply bg-crema text-carbon antialiased;
    font-size: 15px;
    line-height: 1.5;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }
}
